@import "tailwindcss";

.btn {
  @apply bg-[#4fa74f] text-white opacity-0 mt-6 w-3/4 cursor-pointer transition-all ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300;
  /* background-color: #4fa74f !important;
  color: #fff;
  transition: all 0.5s;
  transform: translateY(300px);
  opacity: 0;
  margin-top: 1.5rem !important;
  width: 75% !important;
  cursor: pointer; */
}

.row {
  @apply flex flex-wrap py-5 px-3;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
